In [1]:
import pandas as pd

In [2]:
!pip install jsonschema

Requirement already satisfied: jsonschema in c:\users\windows10\miniconda3\lib\site-packages (3.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\windows10\miniconda3\lib\site-packages (from jsonschema) (0.17.3)
Requirement already satisfied: six>=1.11.0 in c:\users\windows10\miniconda3\lib\site-packages (from jsonschema) (1.14.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\windows10\miniconda3\lib\site-packages (from jsonschema) (20.2.0)
Requirement already satisfied: setuptools in c:\users\windows10\miniconda3\lib\site-packages (from jsonschema) (46.4.0.post20200518)

In [9]:
!pip install requests

Requirement already satisfied: requests in c:\users\windows10\miniconda3\lib\site-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\windows10\miniconda3\lib\site-packages (from requests) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\windows10\miniconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\windows10\miniconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\windows10\miniconda3\lib\site-packages (from requests) (1.25.8)

In [10]:
import requests

In [13]:
response = requests.get("https://data.covid19.go.id/public/api/prov.json")

In [14]:
print(response.status_code)

200

In [16]:
df = pd.read_json('https://data.covid19.go.id/public/api/prov.json')

In [22]:
df.head(100)

,last_date,current_data,missing_data,tanpa_provinsi,list_data
0,2020-11-23,99.994745,0.005255,23,"{'key': 'DKI JAKARTA', 'doc_count': 25.5935355..."
1,2020-11-23,99.994745,0.005255,23,"{'key': 'JAWA TIMUR', 'doc_count': 12.48092370..."
2,2020-11-23,99.994745,0.005255,23,"{'key': 'JAWA BARAT', 'doc_count': 9.159592064..."
3,2020-11-23,99.994745,0.005255,23,"{'key': 'JAWA TENGAH', 'doc_count': 8.61745972..."
4,2020-11-23,99.994745,0.005255,23,"{'key': 'SULAWESI SELATAN', 'doc_count': 4.285..."
5,2020-11-23,99.994745,0.005255,23,"{'key': 'SUMATERA BARAT', 'doc_count': 3.65967..."
6,2020-11-23,99.994745,0.005255,23,"{'key': 'RIAU', 'doc_count': 3.596852753840390..."
7,2020-11-23,99.994745,0.005255,23,"{'key': 'KALIMANTAN TIMUR', 'doc_count': 3.565..."
8,2020-11-23,99.994745,0.005255,23,"{'key': 'SUMATERA UTARA', 'doc_count': 3.13970..."
9,2020-11-23,99.994745,0.005255,23,"{'key': 'BALI', 'doc_count': 2.792906816291842..."
10,2020-11-23,99.994745,0.005255,23,"{'key': 'KALIMANTAN SELATAN', 'doc_count': 2.7..."
11,2020-11-23,99.994745,0.005255,23,"{'key': 'BANTEN', 'doc_count': 2.3197689826280..."
12,2020-11-23,99.994745,0.005255,23,"{'key': 'PAPUA', 'doc_count': 2.12649297718155..."
13,2020-11-23,99.994745,0.005255,23,"{'key': 'SUMATERA SELATAN', 'doc_count': 1.898..."
14,2020-11-23,99.994745,0.005255,23,"{'key': 'ACEH', 'doc_count': 1.756161529393487..."
15,2020-11-23,99.994745,0.005255,23,"{'key': 'SULAWESI UTARA', 'doc_count': 1.28804..."
16,2020-11-23,99.994745,0.005255,23,"{'key': 'SULAWESI TENGGARA', 'doc_count': 1.22..."
17,2020-11-23,99.994745,0.005255,23,"{'key': 'KALIMANTAN TENGAH', 'doc_count': 1.05..."
18,2020-11-23,99.994745,0.005255,23,"{'key': 'PAPUA BARAT', 'doc_count': 1.02829231..."
19,2020-11-23,99.994745,0.005255,23,"{'key': 'KEPULAUAN RIAU', 'doc_count': 0.99539..."
20,2020-11-23,99.994745,0.005255,23,"{'key': 'DAERAH ISTIMEWA YOGYAKARTA', 'doc_cou..."
21,2020-11-23,99.994745,0.005255,23,"{'key': 'NUSA TENGGARA BARAT', 'doc_count': 0...."
22,2020-11-23,99.994745,0.005255,23,"{'key': 'MALUKU', 'doc_count': 0.9056100302479..."
23,2020-11-23,99.994745,0.005255,23,"{'key': 'GORONTALO', 'doc_count': 0.6956565444..."
24,2020-11-23,99.994745,0.005255,23,"{'key': 'MALUKU UTARA', 'doc_count': 0.5117473..."
25,2020-11-23,99.994745,0.005255,23,"{'key': 'LAMPUNG', 'doc_count': 0.494612945380..."
26,2020-11-23,99.994745,0.005255,23,"{'key': 'KALIMANTAN BARAT', 'doc_count': 0.454..."
27,2020-11-23,99.994745,0.005255,23,"{'key': 'JAMBI', 'doc_count': 0.30293615038061..."
28,2020-11-23,99.994745,0.005255,23,"{'key': 'SULAWESI BARAT', 'doc_count': 0.28214..."
29,2020-11-23,99.994745,0.005255,23,"{'key': 'BENGKULU', 'doc_count': 0.27689186595..."
30,2020-11-23,99.994745,0.005255,23,"{'key': 'SULAWESI TENGAH', 'doc_count': 0.2391..."
31,2020-11-23,99.994745,0.005255,23,"{'key': 'KALIMANTAN UTARA', 'doc_count': 0.204..."
32,2020-11-23,99.994745,0.005255,23,"{'key': 'NUSA TENGGARA TIMUR', 'doc_count': 0...."
33,2020-11-23,99.994745,0.005255,23,"{'key': 'KEPULAUAN BANGKA BELITUNG', 'doc_coun..."

In [20]:
dict{'list_data'}

SyntaxError: invalid syntax (<ipython-input-20-e6b0dbb34e22>, line 1)